*, *::before, *::after {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.video-container {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  min-width: 168px;
  min-height: 94px;
  background-color: #AAA;
}

.video-right-section {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.video-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: black;
}

.video-channel-name {
  margin-bottom: 0.1rem;
  text-decoration: none;
  color: #555;
  transition: color 150ms;
}

.video-channel-name:hover {
  color: #111;
}

.video-metadata {
  color: #555;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.yourtube-logo {
  height: 20px;
}

.search-bar {
  display: flex;
  flex-grow: 1;
  margin: 0 2rem 0 4rem;
}

.search-input {
  width: 100%;
  font-size: inherit;
  padding: 0.4rem;
  border: 1px solid #777;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-button {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  border: 1px solid #777;
  background-color: #f8f8f8;
  cursor: pointer;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-button:hover {
  background-color: #f0f0f0;
}

.menu-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  gap: 1.5rem;
}

.menu-channel-icon {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #AAA;
}

.main-content {
  display: grid;
  grid-template-columns: 65% 35%;
  padding: 0 1.5rem;
}

.categories {
  padding: 0.5rem 0;
}

.category-section {
  display: flex;
  overflow: hidden;
}

.category {
  margin-right: 0.5rem;
  word-wrap: none;
  white-space: nowrap;
  border: 1px solid #CCC;
  border-radius: 900px;
  background-color: #e7e7e7;
  padding: 0.5rem 1rem;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 150ms;
}

.category:hover {
  background-color: #ddd;
}

.category.active {
  background-color: #606060;
  color: white;
  border-color: #eee;
}

.category:last-child {
  margin-right: 0;
}

.side-videos {
  padding-left: 1rem;
}
